<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="head-title lg-line">Preguntas<br>Frecuentes</h2>
                    <hr class="botm-line">
                    <p class="sec-para">Cualquier persona puede acudir a un psicólogo en un determinado momento de su vida, ya sea porque no sabe cómo afrontar una situación, siente malestar emocional, se encuentra perdido o quiere realizar un trabajo de autoconocimiento
                        y desarrollo personal.<br>Si no sabes si es tu caso, pásate por la sección de preguntas frecuentes o si lo prefieres, ponte en contacto diréctamente con el centro.</p>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible;" class="col-sm-9 more-features-box">
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>¿Psicólogo o psicoterapeuta?</h3>
                            <p>Un psicólogo es un profesional licenciado en psicología, es decir, posee una formación universitaria, que además complementa su formación mediante cursos o másteres.</p>
                            <p>Para ser psicoterapeuta no existe un diploma reconocido, cualquiera persona podría serlo, adquiriendo una formación mediante cursos no reglados.</p>
                            <p>En nuestro centro sólo encontrarás psicólogos oficiales.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>¿Cuánto puede durar una psicoterapia?</h3>
                            <p>La duración de una psicoterapia depende de varios factores. El más importante es la complejidad del problema que presente.</p>
                            <p>Aquellos problemas que llevan muchos años instaurados en nuestro funcionamiento cotidiano requerirán más tiempo de intervención. Cada paciente va marcando su propio ritmo de mejora.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>¿Con qué frecuencia debo acudir a las sesiones?</h3>
                            <p>Al iniciar una terapia es importante acudir con frecuencia a consulta. Poco a poco las sesiones se irán espaciando adaptándose a tus necesidades y ritmo con que se van manifestando las mejorías.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>¿Cómo elijo psicólgo?</h3>
                            <p>En primer lugar debes elegir un profesional que ofrezca garantías en cuanto a su formación y el nivel de actualización de la misma.</p>
                            <p>Puedes informarte en el Colegio Oficial de Psicólogos de tu ciudad, o también preguntando a tu entorno.</p>
                            <p>Es importante informarse sobre la clase de profesional que es (psicólogo, psiquiatra, psicoterapeuta, coach), el tipo de terapia que aplica (cognitivo-conductual, psicoanálisis, terapia humanista, terapia gestáltica, etc.)
                                y conocer la eficacia demostrada de estos tipos de terapias.</p>
                            <p>Cuando contactes con un psicólogo tienes el derecho a recoger información específica sobre su formación, experiencia, orientación, metodología, honorarios, etc. Y realizar todas las preguntas que faciliten tu decisión.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>