<div class="carousel-inner" role="listbox" style="margin-bottom:50px;">
    <div class="item active" style="height: 500px;">

        <div class="banner-text text-center">
            <img src="images/entrance.jpg" class="d-block w-100 myImg">
            <div class="carousel-caption">
                <div class="banner-logo text-center">
                    <img src="img/logo.png" class="img-responsive">
                </div>
                <h1 class="white">Centro de psiquiatría y psicología</h1>
                <p>La Psicóloga Clínica Leo Álvarez y su equipo de especialista ofrecen su experiencia en la valoración, diagnóstico y tratamiento de los diferentes problemas que puedan surgir en tu vida diaria mediante un trato humano y personalizado.</p>
            </div>
        </div>
    </div>

    <div class="item" style="height: 500px;">
        <img src="images/wating_room.jpg" class="d-block w-100 myImg">
        <div class="carousel-caption">
            <div class="banner-logo text-center">
                <img src="img/logo.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
                <h1 class="white">Salud Mental</h1>
                <p>Los tratamientos más frecuentes en nuestro centro son de contrastada eficacia para superar la ansiedad, la depresión, las obsesiones, la timidez, las fobias, las disfunciones sexuales, los trastornos de la alimentación, los trastornos
                    de personalidad, los conflictos de pareja o de familia.</p>
            </div>
        </div>
    </div>

    <div class="item" style="height: 500px;">
        <img src="images/room1.jpg" class="d-block w-100 myImg">
        <div class="carousel-caption">
            <div class="banner-logo text-center">
                <img src="img/logo.png" class="img-responsive">
            </div>
            <div class="banner-text text-center">
                <h1 class="white">Tratamiento y seguimiento</h1>
                <p>Con orientación cognitivo-conductual se realiza un abordaje integral de los problemas psicológicos desde un enfoque biopsicosocial.<br>La terapia psicológica no es exclusiva para trastornos. Puede ser muy útil para cualquier persona que
                    necesite mejorar algún aspecto general o concreto de su vida, o que desee conocerse un poco más o sentirse mejor consigo mismo y con los demás.</p>
            </div>
        </div>



    </div>
</div>

<div class="carousel-indicators">
    <button type="button" data-target="#myCarousel" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-target="#myCarousel" data-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-target="#myCarousel" data-slide-to="2" aria-label="Slide 3"></button>
</div>