<section id="cta-1" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="schedule-tab">
                <div class="col-md-4 col-sm-4 bor-left">
                    <div class="mt-boxy-color"></div>
                    <div class="medi-info">
                        <h3>Emergency Casesss</h3>
                        <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a href="#" class="medi-info-btn">READ MORE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="medi-info">
                        <h3>Emergency Case</h3>
                        <p>I am text block. Edit this text from Appearance / Customize / Homepage header columns. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <a href="#" class="medi-info-btn">READ MORE</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 mt-boxy-3">
                    <div class="mt-boxy-color"></div>
                    <div class="business-hours">
                        <h2 class="title">Horarios</h2>
                        <ul class="list-unstyled opening-hours">
                            <li>Lunes <span class="pull-right">9:00-22:00</span></li>
                            <li>Martes <span class="pull-right">9:00-22:00</span></li>
                            <li>Miércoles <span class="pull-right">9:00-22:00</span></li>
                            <li>Jueves <span class="pull-right">9:00-22:00</span></li>
                            <li>Viernes <span class="pull-right">9:00-23:30</span></li>
                            <li>Sábado <span class="pull-right">14:00-23:30</span></li>
                            <li>Domingo <span class="pull-right">Cerrado</span></li>
                        </ul>
                    </div>
                </div>
            </div>
</section>