<section id="service" class="section-padding">
    <div class="container">
        <div class="row">


            <div class="col-md-4 col-sm-4">
                <div style="margin-bottom: 35px;">
                    <h2 class="ser-title">Nuestros Servicios</h2>
                    <hr class="botm-line">
                    <p>Buscamos brindar el mejor servicio, por ello nos hemos rodeado de los mejores en cada campo.</p>
                    <p>A continuación te mostramos los servicios en los que nos especializamos</p>
                </div>

                <div class="service-info">
                    <div class="icon">
                        <i><img src="img/icono_9.png" class="img-responsive"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Psiquiatría</h4>
                        <p>La psicología y la psiquiatría son disciplinas complementarias. En los casos que sea necesario un apoyo farmacológico nuestros expertos evaluarán de forma personalizada con el fin de mejorar el bienestar personal.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i><img src="img/icono_7.png" class="img-responsive"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Trastornos Alimentarios</h4>
                        <p>La excesiva preocupación sobre la apariencia física y el peso nos puede llevar a obsesionarnos con la alimentación. En el tratamiento de los TCA es importante no tratar solo el síntoma con la comida sino también ir a la raíz del
                            problema, al por qué esa persona en concreto desarrolló el trastorno.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i><img src="img/icono_10.png" class="img-responsive"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Psicología infanto-juvenil</h4>
                        <p>Problemas de conducta, control de la impulsividad, habilidades sociales, técnicas de estudio, problemas académicos, ansiedad.</p>
                        <p>Porque no son “sólo niños” ni son “cosas de niños” cuando se trata de nuestros hijos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i><img src="img/icono_2.png" class="img-responsive"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Psicología de Adultos</h4>
                        <p>Ansiedad, bajo estado de ánimo, depresión, problemas de pareja, terapia sexual psicoeducación, gestión de emociones, obsesividad, problemas laborales o simplemente ayudarte a superar un problema en concreto.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i><img src="img/icono_8.png" class="img-responsive"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Charlas de divulgación</h4>
                        <p>Impartimos programas de prevención, diferentes conferencias y masterclass: escuela de padres, prevención de TCA, sexología, bullying a diversos colectivos y edades.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>