<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Conoce a nuestros profesionales</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <a href="members.html?member=leo#memberSection"><img src="img/leo_alvarez.jpg" alt="..." class="team-img"></a>
                    <div class="caption">
                        <h3>Leonarda Álvarez Majua</h3>
                        <p>Psicóloga</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <a href="members.html?member=miguel#memberSection"><img src="img/miguel_garcia_escudero.jpg" alt="..." class="team-img"></a>
                    <div class="caption">
                        <h3>Miguel Alfonso García Escudero</h3>
                        <p>Doctor</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <a href="members.html?member=susana#memberSection"><img src="img/susana_alonso.jpg" alt="..." class="team-img"></a>
                    <div class="caption">
                        <h3>Susana Alonso Alvarez</h3>
                        <p>Psicóloga</p>
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>