<section id="testimonial" class="section-padding">
    <div class="container">

        <div class="carousel-reviews broun-block">
            <div class="container">
                <div class="row">
                    <div id="carousel-reviews" class="carousel slide" data-ride="carousel" data-interval="10000">

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Leonarda Álvarez Majua</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Por su profesionalidad, experiencia y trato recibido, en un área de la salud tan complejo como es la psicología, demuestra ser una profesional referente en el sector. Desde mi experiencia, sólo puedo tener palabras
                                            de agradecimiento por su ayuda.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user1.jpg" class="img-box" /></div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Susana es la mejor psicóloga que he conocido. Desde el primer momento me dio confianza y seguridad. Es muy cercana y lo que más admiro de ella es la cantidad de recursos y ejemplos que tiene como profesional para
                                            explicarte las cosas de una manera clara.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user2.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Me encontré con un grandísimo profesional, que supo "tirar" de los hilos y ayudarme muchísimo con mi problema. Gracias a él, estoy recuperando el control sobre mí misma. Estoy muy contenta haber dado con él como
                                            médico. Muy satisfecha.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user3.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Me he sentido cómoda con el trato recibido y teniendo en cuenta que era mi primera consulta, considero que el doctor va bien encaminado hacia el diagnóstico y solución de mi problema.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user5.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Creo que el Dr. García Escudero en un gran profesional. Su trato es cercano y te hace sentí muy cómoda. Me gustó mucho como fue la consulta y lo recomiendo mucho.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user6.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Susana es increíble, para nada sientes que estás en consulta, parece que hables con una amiga de toda la vida, te hace sentir muy cómodo desde el minuto uno. Muy profesional, simpática y agradables, la recomiendo
                                            100%
                                        </p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user2.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Sin duda alguna recomendaría al Dr.Miguel, me hizo sentir muy comoda, a demás de darme la tranquilidad que necesitaba.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user1.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Trato excelente, se involucra con sus pacientes y sus explicaciones son muy útiles. Me ayudó mucho, sin duda se lo recomendaría a cualquier amigo o familiar.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user3.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Alvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Muy buena compenetración desde el primer día. Transmisión de confianza y ganas de ayudar desde el minuto 1. Muy Recomendable para afrontar tus problemas y adversidades personales.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user2.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Desde el momento que la conoces sabes que volverás. Una gran capacidad de escucha y de ayuda que te hace sentir que todo puede mejorar. Una gran profesional!</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user9.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Un Doctor extraordinario, dialogante, entrañable... Explica todo de maravilla, con ejemplos prácticos. Creo que todo lo bueno que se puede esperar de alguien que se dedica a la psiquiatría. Lo recomendaría a quienes
                                            necesiten ayuda. Conoce tu personalidad y te da seguridad. Un 10.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user7.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Cuando vas a la consulta sabes que saldrás de allí con motivación para seguir trabajando en ti. Mejorar requiere esfuerzo por ambos lados, pero sin duda Susana siempre tiene las palabras, ejemplos y herramientas
                                            adecuadas para que cumplas con tu parte.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user10.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Una persona verdaderamente increíble, nos ha ayudado muchísimo en nuestra vida, siempre disponible para dar solución a los problemas, la recomiendo sin duda, una gran profesional y muy entregada en su trabajo.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user10.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Fue mi primer experiencia psiquiatrica y me fui muy satisfecho de la consulta. Escucho atentamente mi predicamento, me senti oido y respetado. 100% contento de la inversion y pienso volver.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user8.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Profesionalidad como definición para su trabajo. Cercano, claro en sus explicaciones y con una perceptible empatía. A título personal puedo afirmar que su explicación me está sirviendo de ayuda.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user4.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>He ido con Susana casi dos años y puedo corroborar que es una excelente profesional. Me ha dado las herramientas que necesito y ha sabido dar con lo que debía mejorar para estar más a gusto conmigo misma. Además,
                                            siempre está disponible vía WhatsApp! :)</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user9.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Susana Alonso Álvarez</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Susana me ha ayudado muchísimo durante los últimos años. Gracias a ella, he podido superar mis inseguridades y problemas. La recomiendo absolutamente.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user7.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text rel zmin">
                                        <div class="block-texto">Miguel García Escudero</div>
                                        <div class="mark">Valoración Top Doctors:
                                            <span class="rating-input">
                                                <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            </span>
                                        </div>
                                        <p>Me encontré con un grandísimo profesional, que supo "tirar" de los hilos y ayudarme muchísimo con mi problema. Gracias a él, estoy recuperando el control sobre mí misma. Estoy muy contenta haber dado con él como
                                            médico. Muy satisfecha.</p>
                                        <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div>&nbsp;</div>
                                    <div class="person-text rel">
                                        <div><img src="images/user8.jpg" class="img-box" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>